.place__link{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin-top: 12px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.place__link:hover{
    opacity: 0.8;
}